* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../images/bbq1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Rye', cursive;
  font-weight: bold;
  font-size: 75px;
  text-shadow: 2px 2px brown;
}

.header:hover, .business-link:hover {
  color:goldenrod;
  text-shadow: 2px 2px brown;
  transition: color 0.2s;
}

.header-container {
  margin-bottom: 10px;
}

.business-link {
  color: whitesmoke;
  font-family: 'Rye', cursive;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px brown;
}

.nav {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Rye', cursive;
  font-size: 34px;
  text-shadow: 2px 2px brown;
}

.nav:hover {
  color:goldenrod;
  text-shadow: 2px 2px brown;
  transition: color 0.2s;
}

/* a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
} */

/* a:hover {
  color: #3486eb;
} */

h3 {
  font-family: 'Rye', cursive;
  font-size: 26px;
  text-shadow: 2px 2px black;
}

button {
  background-color: brown;
  border: 0;
  padding: 1%;
  color: whitesmoke;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: goldenrod;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
  resize: none;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  color: whitesmoke;
  font-family: 'Rye', cursive;
  text-shadow: 2px 2px brown;
}


.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper h1 {
  margin-bottom: 0;
}

header {
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 100%;
}

/* h1 {
  font-size: 1em;
} */

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 350%;
  border: 1px solid black;
  background-color: burlywood;
  color: whitesmoke;
}

.title h1 {
  margin: 0;
  border-bottom: 2px solid brown;
  font-style: bold;
  font-family: 'Rye', cursive;
  font-size: 34px;
  color: whitesmoke;
  text-shadow: 2px 2px brown;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

/* .comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
} */

.meta{
  color: brown;
}

.comment-link{
  text-decoration: none;
  color:whitesmoke;
}

.comment-link:hover{
  color: brown;
  text-shadow: 2px 2px whitesmoke;
  transition: color 0.2s;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 2px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-family: 'Rye', cursive;
  font-size: 34px;
  color: whitesmoke;
  text-shadow: 2px 2px brown;
}


.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
  color: whitesmoke;
}